<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/register_new.css">
</head>

<body>
    <div class="bg"></div>
    <div class="top">
        <div class="logo">
            <img src="../static/img/logo.png" width="45px" height="45px">
        </div>
        <div class="netname">plearnet</div>

        <div class="loginpic">
            <img src="../static/img/login.png" width="45px" height="45px">
        </div>
    </div>
<div class="content">
     <div class="logincontent">
        <div class="login">
            Register
        </div>
        <div class="account">
            <div class="text1">name</div>
            <div class="input"><input type="text"></div>
        </div>
        <div class="password">
            <div class="text2">password</div>
            <div class="input"><input type="password"></div>
        </div>
        <div class="confirmpassword">
            <div class="text3">confirm password</div>
            <div class="input"><input type="text"></div>
        </div>
        <div class="e-mail">
            <div class="text4">e-mail</div>
            <div class="input"><input type="email"></div>
        </div>
        <div class="button">
            <input type="button" value="register" class="buttonstyle">
        </div>
    </div>
</div>

</body>

</html>