<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" discuss="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<style>
    .Header {
        width: 1280px;
        height: 80px;
        text-align: center;
        font-size:50px;
        color: #03f8f8;
        font-weight: normal;
        font-family: monospace;
        background-color: #000000;
    }

    .Body {
        width: 1280px;
        height: 720px;
        line-height: 280px;
        background-color: #fffaf3;
    }

</style>

<body background="../static/img/bg.jpg ">
<div class="Header">Plearnet</div>
<div class="Body"></div>
</body>

</html>

