<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>

    <div class="login" id="login">
        <form name="formLogin">
            <div class="title">
                <h1>登入</h1>
            </div>
            <div class="account">
                <label>帳號</label>
                <input type="text" placeholder="請輸入帳號" value="">
            </div>

            <div class="password">
                <label>密碼</label>
                <input type="password" placeholder="請輸入密碼" value="">
            </div>

            <div>
                <img src="../static/img/lb.png" class="loginImg" alt="" width="100" height="100" id="lb">
            </div>
        </form>
    </div>
</body>

</html>