<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>

    <div class="login">
        <form name="formLogin">
            <div class="title">
                <h1>Plearnet</h1>
                <br>
                <label>登入</label>
            </div>
            <div class="account">

                <br>
                <input type="text" placeholder="請輸入帳號" value="">
            </div>

            <div class="password">

                <br>
                <input type="password" placeholder="請輸入密碼" value="">
            </div>

            <div class="loginImg">
                <a href="../templates/register.html"><img src="../static/img/lb.png" width="100" height="100"
                        id="lb"></a>
            </div>
        </form>
    </div>
</body>

</html>