<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Post</title>
    <link rel="stylesheet" href="../static/css/post.css">
</head>

<body>
    <header class="header">
        <div class="site-header">
            <div class="wrapper site-header__wrapper">
                <a href="#" class="brand"></a>
                <input class="search">
                <select>
                    <option>標題</option>
                    <option>作者</option>
                    <option>日期</option>
                </select>
            </div>

            <button class="login" type="button">登入</button>
        </div>
    </header>

    <div class="wrapper">
        <form name="form" method="POST">
            <div class="content">
                <!-- <div class="post-box"> -->
                <div class="post-side">
                    <button>
                        <img src="https://i2.bahamut.com.tw/forum/icons/post_insert_image.svg">
                        插入圖片
                    </button>
                    <button>
                        <img src="https://i2.bahamut.com.tw/forum/icons/post_insert_video.svg">
                        插入影片
                    </button>
                    <button>
                        <img src="https://i2.bahamut.com.tw/forum/icons/post_insert_image.svg">
                        插入圖片
                    </button>
                </div>
                <!-- </div> -->
                <!-- <div class="post-box"> -->
                <div class="post-content">
                    <div class="post-header">發表新文章</div>
                    <input type="text" class="post-title" vale placeholder="請輸入文章標題" />
                    <textarea class="post-main"></textarea>
                    <div class="post-footer">
                        <button>
                            發佈
                            <img src="picture/posting.png" />
                        </button>
                    </div>
                </div>
                <!-- </div> -->
                <!-- <div class="post-box"></div> -->
            </div>
        </form>
    </div>

    <footer class="footer">
        123
    </footer>
</body>

</html>