<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>

<body>
    <div class="text">
        <div class="left">
            <div class="reg">
                Plearnet
                <br>
            </div>
            <div class="registertext">
                <label>註冊</label>
            </div>
            <div class="inputbox">
                <input type="e-mail" placeholder="電子信箱">
                <br>
                <br>
                <input type="password" placeholder="密碼">
                <br>
                <br>
                <input type="password" placeholder="確認密碼">
                <br>
            </div>
            <div class="button">
                <img src="../static/img/registerbutton.png" width="100px">
            </div>
        </div>
        <div class="right">
            <img src="../static/img/loginBg.png" width="1000px">
        </div>
    </div>



</body>

</html>