<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="text">
        <div class="reg">
            <h1>註冊</h1>
        </div>
        <div class="content">
            <input type="e-mail" placeholder="電子信箱">
            <br>
            <input type="password" placeholder="密碼">
            <br>
            <input type="password" placeholder="確認密碼">
            <br>
        </div>
        <div class="button">
            <img src="../static/img/lb.png" width="150">
        </div>
    </div>


</body>

</html>