<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>self</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="top">
        <div class="picture">
            <img src="../static/img/lop.png" alt="" width="250">
        </div>
        <div class="other">
            <img src="../static/img/update.png" alt="" width="150">
            <img src="../static/img/like.png" alt="" width="150">
            <img src="../static/img/history.png" alt="" width="150">
        </div>
    </div>
    <div class="data">
        <label>暱稱</label>
        <br>
        <label>E-mail</label>
        <br>
        <label>phone</label>
    </div>


</body>

</html>