<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>self</title>
    <link rel="stylesheet" href="../static/css/self.css">
</head>

<body>
    <div class="top">
        <div class="icon">
            <img src="../static/img/icon.png" width="50">
        </div>
    </div>
    <div class="content">
        <div class="left">
            <div>
                <img src="../static/img/update.png" width="50">
            </div>
            <div>
                <img src="../static/img/like.png" width="50">
            </div>
            <div>
                <img src="../static/img/history.png" width="50">
            </div>
        </div>
        <div class="right">
            <div class="img">
                <img src="../static/img/lop.png" width="150">
            </div>
            <div class="text">
                <label>name</label>
                <br>
                <label>g-mail</label>
                <br>
                <label>phone</label>
            </div>
            <div class="button">
                <button>change</button>
                <button>out</button>
            </div>
        </div>
    </div>

</body>

</html>