<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Notes</title>
    <link rel="stylesheet" href="../static/css/post.css">
</head>

<body>
    <header class="header">
        <div class="site-header">
            <div class="wrapper site-header__wrapper">
                <a href="#" class="brand"></a>
                <input class="search">
                <select>
                    <option>標題</option>
                    <option>作者</option>
                    <option>日期</option>
                </select>
            </div>
            <H2 align="center">管理學</H2>
            <button class="login" type="button">登入</button>
        </div>
    </header>

    <table>
  <tr>
    <th>最新</th>
    <th>留言數最高</th>
    <th>點讚最多</th>
    <th>點閱率最高</th>
  </tr>
  <tr>
    <td>1</td>
    <td></td>
    <td>5</td>
    <td>/td>
  </tr>
  <tr>
    <td>2</td>
    <td></td>
    <td>6</td>
    <td></td>
  </tr>
  <td>3</td>
    <td></td>
    <td>7</td>
    <td>/td>
 <tr>
    <td>4</td>
    <td></td>
    <td>8</td>
    <td></td>
</table>

<div>
   <button type="button">下一頁</button>

</div>
    <footer class="footer">
        123
    </footer>
</body>

</html>
