<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="../static/css/user.css">
</head>

<body>
  <div class="user">
    <div class="user-button">
      <div class="options">
        <!-- <button class="btn">update</button> -->
        <img src="../static/img/update.png" alt="" />
        <img src="../static/img/like.png" alt="" />
       <img  src="../static/img/history.png" alt="" />
      </div>
    </div>
    
    <div class="content">
      <div>Hello</div>
      <div>Here</div>
      <div>is</div>
      <div>Like</div>
    </div>
  </div>
  
  
</body>

</html>