*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.bg{
    background-image: url(../img/images.jpg);
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      padding-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
        filter: blur(5px);
  }
 
  
  .top{
      background-color: black;
      position: relative;
      height: 45px;
      display: flex;
  }
  
  
  .logo{
      width: 33%;
      float: left;
  }
  
  .netname{
      width: 33%;
      font-size: 30px;
      color: #00EEFF;
      float: center;
      text-align: center;
  }
  
  .loginpic{
      width: 33%;
      float: right;
      text-align: right;
  }
  
.content{
    padding-top: 60px;
}

  .logincontent{
      opacity: 0.85;
      border: 5px #ccc solid;
      border-radius: 10px;
      width: 360px;
      height: 400px;
      background-color: white;
      text-align: center;
      margin: 0 auto;
  }
  
  .login{
      font-size: 50px;
      color: gray;
      padding-bottom: 10px;
  }
  
  .name{
      padding-bottom: 20px;
  }
  
  .password{
      padding-bottom: 10px;
  }

  .confirmpassword{
    padding-bottom: 10px;
  }
  
  .e-mail{
      padding-bottom: 20px;
  }
  .buttonstyle{
      width: 175px;
      height: 25px;
      color: white;
      background: linear-gradient(0deg, rgba(163, 230, 240, 1) 0%, rgba(100, 164, 207, 1) 40%, rgba(13, 28, 106, 1) 100%);
  }
  

.buttonstyle:hover{
    filter: brightness(1.2);
}

  .text1{
      padding-right: 140px;
  }
  .text2{
      padding-right: 115px;
  }
  .text3{
    padding-right: 60px;
    }
  .text4{
    padding-right: 135px;
  }

  .register{
      padding-right: 90px;
      text-align: right;
      color: rgb(147, 224, 255);
  }