body {
    background-image: url(../img/bg.jpg);
    color: white;
}

.login {
    text-align: center;
}

.account {
    align-items: center;
}

.password {
    align-items: center;
}

.loginImg {
    margin-left: 90px;
}

.title {
    text-align: center;
    color: white;
}

