body {
    background-image: url(../img/bg.jpg);
    height: 100vh;
    color: white;
}

.text{
    display: flex;
}

.reg{
    text-align: left;
    font-size: 50px;
}

.registertext{
    text-align: left;
    margin-left: 60px;
}

.button{
    margin-left: 100px;
}

.inputbox{
    padding-top: 100px;
}

.right{
    position: relative;
    top: -200px;
    right: -200px;
}

.left{
    margin-left: 20px;
}