body {
    background-image: url(../img/bg.jpg);
    height: 100vh;
}

.content{
    display: flex;
    width: 100vh;
}

.left{
    height: 100vh;
    width: 150px;
    align-items: center;
}

.text{
    color: white;
    height: 500px;
}

.img{
    width: auto;
}
