body {
    background-image: url(../img/bg.jpg);
    height: 100vh;
    width: 100%;
}
.user{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.user-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 10%;
  }

  .options {
    display: flex;
   flex-direction: column;
   text-align: center;
 }
.options>img{
    width: 50px;
}
.content {
    background-color: tomato;
    width: 60%;
    height: 100%;
}
.content > div {
    color: white;
    font-size: 50px;
}
